<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zatco.Properties.Settings.ZatcoDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=ZatcoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="Path" value="V1"/>
    <add key="PathINV" value="V2"/>
    <add key="PathfileT" value="V3"/>
    <add key="PathfileN" value="V4"/>
    <add key="PathNT" value="V5"/>
  </appSettings>
</configuration>
